<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>

    <div></div>
    <script>
    //  var data=[2,1,4,2,7,7,2,9,3,3,3,0];
    //  var count={};

    //  for(i=0;i<data.length;i++){
    //    count[data[i]] =count[data[i]] ? count[data[i]]+1 :1
    //  }
    //  console.log(count);
    //  for(i=0;i<data.length;i++){
    //    var num= data[i]
    //  }
    //  console.log(num);
      
    //  var l=data.length;
     
    //  var sum=0;
    //  for(i=0;i<data.length;i++){
    //     sum=sum+data[i];
    //  }
    //  console.log(sum);
     
    //  var avg=sum/12;
    //  console.log("averagees is="+avg);
      
    //  const arr=[1,9,887,65,65,76]
    //  const maxFunction=(arr)=>{
    //     return arr.reduce(function(prev,curr){
    //         return prev>curr ? prev: curr
    //     })
    //  }
    //  console.log(maxFunction(arr));

    //  const array=[1,9,887,65,65,76]
    //  const minFunction=(arr)=>{
    //     return arr.reduce(function(prev,curr){
    //         return prev<curr ? prev: curr
    //     })
    //  }
    //  console.log(minFunction(array));

    //  var num=25;
    // if(num%2==0) 
    // {
    //     console.log(num);
    // }else console.log(num);
    
    //  console.log(num);
//    var str="Rushikesh";
//    const reversestring=(str)=>{
//     str.split("").reverse().join("");
//    }
//    console.log(reversestring);

   var number=64;
    var factorial=0;
   function factorial(number) { 

if (number === 0 || number === 1) { 

  return 1; 

} else { 

  return number * factorial(number-1);
} 

} 

     


    </script>
</body>
</html>